<html>
 <head>
    <title>{{title}} - microblog</title>
 </head>
 <body>
   <!--- <form name="Item_1" action="results.html" method='POST' > --->
   <form name="f1" action="/mytest_output" method='GET' >
   <select multiple id="mymultiselect" name="mymultiselect">
           <option type="text" value="1">this</option>
           <option type="text" value="2">that</option>
           <option type="text" value="3">other thing</option>
   </select>
   <div>
     <button type="submit" class="btn btn-default btn-lg">Find these Cesareans!</button>
   </div>

  </form>

  <h1>Hello, {{user.nickname}}!</h1>


 </body>
</html>
